body {
    margin: 10px auto;
    width: 1024px;
    background: black;
    font-family: sans-serif;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

h1, h2 {
    color: salmon;
    text-align: center;
    margin: 0;
}

h2 {
    font-size: 20px;
}

canvas {
    border: 1px solid #333;
}

.options {
    color: white;
    width: 180px;
    margin: 0px auto;
    text-indent: 1em;
    text-align: justify;
    font-weight: bold;
    font-size: 20px;
}

.description {
    color: salmon;
    width: 600px;
    margin: 0px auto;
    text-indent: 1em;
}

.description p {
    margin: 5px 0;
    text-align: justify;
}

#fps_con {
    margin: auto;
    color: #4f4f4f;
    font-size: 20px;
    display : table;
}
.fps {
    display: inline-block;
}

#fps_opt {
   width: 20px;
   margin : auto;
   top : -5px;
   text-align : right;
   font-weight : bold;
}
#conf_opt {
   margin : auto;
   color : #7f7f7f;
   display : table;
}

ul li span {
    display: inline-block;
}

ul {
    list-style-type: none;
    color: pink;
}

ul li .input {
    text-align: right;
    width: 250px;
    font-weight: bold;
}

ul li .result {
    text-align: left;
    width: 250px;
    font-style: italic;
}
